*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
}

.vw-60{    
    width: 60vw;
    min-height: 300px;
    background-color: burlywood;
}

/* HEADER */
header{
    height: 500px;
}

/* UP-HEADER */
.up-header{
    background-color: black;
    min-height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header > div {
    display: inline-block;
    min-height: 50px;
    min-width: 100px;
    background-color: orange;
}

.right-header > div {
    display: inline-block;
    min-height: 50px;
    min-width: 100px;
    background-color: red;
}


/* BOTTOM-HEADER */
.bottom-header{
    background-color: gray;
    min-height: 80%;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.bottom-header > .vw-60 > div{
    display: inline-block;
}

.intestazione-header{
    width: 100%;
    height: 100px;
    background-color: bisque;
}

.paragrafo-header{
    width: 30%;
    height: 200px;
    background-color: aquamarine;
}

.imagine-header{
    width: 69%;
    height: 200px;
    background-color: gold;
}
/* FINE HEADER */

/* MAIN */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colonne-main{
    display: flex;
    justify-content: space-between;
}

.colonne-main > div{
    background-color: blue;
    width: 30%;
    min-height: 300px;
    display: inline-block;
}

.enterprise{
    min-height: 200px;
    background-color: aquamarine;
}

.left-entra-in-contatto{
    display: inline-block;
    width: 60%;
    min-height: 300px;
    background-color: chartreuse;
}

.right-entra-in-contatto{
    display: inline-block;
    width: 39%;
    min-height: 300px;
    background-color: goldenrod;
}



.riga-uno-dropbox-business{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.riga-uno-dropbox-business > div{
    width: 30%;
    height: 300px;
    background-color: darkseagreen;
    border: 1px solid black;
}

.riga-due-dropbox-business{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.riga-due-dropbox-business > div{
    width: 30%;
    height: 300px;
    background-color: darkseagreen;
    border: 1px solid black;
}

.scopri-di-più{
    width: 100%;
    min-height: 200px;
    background-color: lightblue;
}


.quadrati-colorati{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;

}

.quadrato-grande-sx{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 0;
}

.quadrati-colorati > div{
    display: inline-block;
    width: calc(100% / 3);
    height: 300px;
    background-color: blue;
    border: 1px solid black;
}



.quadrato-grande-sx > div{
    display: inline-block;

    background-color: blue;
    border: 1px solid black;
    width: 50%;
    height: 50%;
    margin-top: 0;
}




.quadrato-grande-dx{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 0;
}


.quadrato-grande-dx > div{
    display: inline-block;

    background-color: blue;
    border: 1px solid black;
    width: 50%;
    height: 50%;
    margin-top: 0;
}



.prova-gratuita{
    width: 100%;
    min-height: 200px;
    background-color: green;
}


.faq{
    width: 100%;
    min-height: 200px;
    background-color: lightcyan;

}

/* FINE MAIN */











/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}

.up-footer{
    display: flex;
    justify-content: space-between;
}

.up-footer > div{

    width: 18%;
    min-height: 200px;
    background-color: orange;
    border: 1px solid black;
}

.bottom-footer{
    min-height: 100px;
    background-color: brown;
    
}


/* FINE FOOTER*/

