*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
}

main > section{
    padding: 20px 0;
}

.vw-80{    
    width: 80vw;
    min-height: 300px;
    /* background-color: lightcoral; */
}

.vw-60{    
    width: 70vw;
    min-height: 300px;
    /* background-color: burlywood; */
}

.hr{
    width: 100px;
    color: gray;
}



button{
    background-color: #0061ff;
    color: white;
    padding: 10px;
    border: none;
}

.white-button{
    border: 1px solid black;
    padding: 10px;
    color: #6e6e6e;
    background-color: white;
}

/* HEADER */
header{
    min-height: 300px;
    margin-bottom: 20px;
}

/* UP-HEADER */
.up-header{
    background-color: white;
    width: 100vw;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;


}



.left-header > div {
    display: inline-block;
    min-height: 50px;
    min-width: 50px;
    /* background-color: orange; */
    vertical-align: middle;
    color: #6e6e6e;
    margin-right: 10px;
    padding: 5px;


}

.right-header > div {
    display: inline-block;
    min-height: 50px;
    min-width: 50px;
    /* background-color: red; */
    vertical-align: middle;
    color: #6e6e6e;
    margin-right: 10px;
    padding: 5px;




}

.button-header > button{
    background-color: #0061ff;
    color: white;
    padding: 5px;
    border: none;
}


/* BOTTOM-HEADER */
.bottom-header{
    /* background-color: gray; */
    min-height: 400;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin: 100px 0;
}

.bottom-header > .vw-80 > div{
    display: inline-block;
    margin-top: 10px;

}

.paragrafo-header > *{
    margin: 10px 0;
}

.intestazione-header{
    width: 100%;
    min-height: 50px;
    /* background-color: bisque; */
    font-size: 2em;
    margin-bottom: 30px;
}

.paragrafo-header{
    width: 30%;
    min-height: 200px;
    /* background-color: aquamarine; */
    vertical-align: top;
}





.imagine-header{
    width: 65%;
    height: 300px;
    /* background-color: gold; */
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;

}
/* FINE HEADER */

/* MAIN */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 3 COLONNE */
.piano-business{
    margin-bottom: 20px;
}

.colonne-main{
    display: flex;
    justify-content: space-between;
}

.colonne-main > div{
    /* background-color: blue; */
    width: 30%;
    min-height: 300px;
    display: inline-block;
    border: 1px solid black;

}

.contenuto-colonne > *{
    padding: 20px 20px;

}

.professional > *{
    display: block;
    margin-top: 20px;
}

.intestazione-colonne{
    text-align: center;
    border-bottom: 1px solid black;
}

.fa-user{
}

.fa-check{
    color: #0061ff;
}



/* CASELLA SOTTO 3 COLONNE */

.enterprise{
    min-height: 200px;
    /* background-color: aquamarine; */
    border: 1px solid black;    

}

.intestazione-casella-enterprise{
    border-bottom: 1px solid black;
    text-align: center;
}

.contenuto-casella-enterprise{
    padding: 20px 20px;

}

.prima-riga-contenuto-casella-enterprise{
    display: flex;
    justify-content: space-between;
}

.left-casella-enterprise{
    display: flex;
    align-items: center;
}

.right-casella-enterprise{
    display: flex;
    align-items: center;
}



/* ENTRA IN CONTATTO */

.entra-in-contatto{
    display: flex;
    align-items: center;
    width: 70%;
    margin-top: 30px;
}

.left-entra-in-contatto{
    display: inline-block;
    width: 60%;
    min-height: 300px;
    /* background-color: chartreuse; */
    background-image: url(../img/partner.png);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
}

.right-entra-in-contatto{
    display: inline-block;
    width: 40%;
    height: 300px;
    /* background-color: goldenrod; */
    padding: 0 20px;
}


/* DROPBOX BUSINESS */

/* RIGA UNO */
.riga-uno-dropbox-business{
    width: 100%;
    min-height: 300px;

    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.riga-uno-dropbox-business > div{
    width: 30%;
    min-height: 300px;
    /* background-color: darkseagreen; */
    /* border: 1px solid black; */
}

.img-dropbox-business{
    height: 40%;
    width: 100%;
    background-image: url(../img/business-feature-switching-tools.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.testo-dropbox-business{
    min-height: 400px;
    width: 100%;
}


/* RIGA DUE */

.riga-due-dropbox-business{
    width: 100%;
    min-height: 300px;

    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.riga-due-dropbox-business > div{
    width: 30%;
    min-height: 300px;
    /* background-color: darkseagreen; */
    /* border: 1px solid black; */
}



/* SCOPRI DI PIU' */
.scopri-di-più{
    min-height: 200px;
    /* background-color: lightblue; */
}

.scopri-di-più > h1 {
    padding-bottom: 30px;
}



/* QUADRATI COLORATI */

.quadrati-colorati{
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: space-between;

}

/* QUADRATO SX */
.quadrato-grande-sx{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    font-size: 0;
}

.quadrati-colorati > div{
    display: inline-block;
    width: calc(100% / 3);
    height: 300px;
    /* background-color: blue; */
    border: 1px solid black;
}



.quadrato-grande-sx > div{
    display: inline-block;
    /* background-color: blue; */
    border: 1px solid black;
    width: 50%;
    height: 50%;
    margin-top: 0;
}

.quadrato-piccolo-verde{
    background-color: #a2d39b;
    position: relative;
}

.quadrato-piccolo-verde > img{
    position: absolute;
    left: calc(50% - 45px);
    top: calc(50% - 45px);
    height: 90px;
    width: 90px;
    /* color: white; */
}


.quadrato-grande-dx{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    font-size: 0;
}

/* QUADRATO CENTRALE */






/* QUADRATO DX */
.quadrato-grande-dx > div{
    display: inline-block;

    background-color: blue;
    border: 1px solid black;
    width: 50%;
    height: 50%;
    margin-top: 0;
}



.prova-gratuita{
    width: 100%;
    min-height: 200px;
    background-color: green;
}


.faq{
    width: 100%;
    min-height: 200px;
    background-color: lightcyan;

}

/* FINE MAIN */











/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}

.up-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.up-footer > div{

    width: 18%;
    min-height: 200px;
    background-color: orange;
    border: 1px solid black;
}

.bottom-footer{
    min-height: 100px;
    background-color: brown;
    
}


/* FINE FOOTER*/

